body {
    margin: 60px auto;
    width: 75%;
}

pre.code {
    font-size: 1.5em;
    overflow: auto;
}

div.code {
    font-size: 1.5em;
    background-color: #f0f0f0;
    padding: 20px;
    overflow:auto
}

div.explanation {
    font-size: 1.5em;
    font-family: monospace;
    padding: 20px;
    margin-left: 20px;
}

div.simple {
    font-size: 2em;
    font-family: monospace;
    text-align: right;
    padding: 40px;
    max-width: 1024px;
}

div.rborder {
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    padding: 40px 20px 40px 40px;
}

div.date {
    margin: 20px 0px 0px 0px;
    font-weight: bold;
    font-size: 2em;
}

nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ul.steps {
    font-size: 1.5em;
}

div.reference {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 10px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}


ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

article {
    max-width: 1024px;
    /*border-bottom: 2px solid #d5d5d5;*/
    margin-bottom: 100px;
}

table, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
}

table tr:first-child {
    background-color: #d5d5d5;
}

th, td {
    padding: 10px;
}

div.highlight {
    overflow: auto;
    font-size: 1.5em;
}

/*
Pygments generated CSS
*/
td.linenos {
    background-color: #f0f0f0;
    padding-right: 10px;
}

span.lineno {
    background-color: #f0f0f0;
    padding: 0 5px 0 5px;
}

pre {
    line-height: 125%;
}

body .hll {
    background-color: #ffffcc
}

body {
    background: #f8f8f8;
}

body .c {
    color: #408080;
    font-style: italic
}

/* Comment */
body .err {
    border: 1px solid #FF0000
}

/* Error */
body .k {
    color: #008000;
    font-weight: bold
}

/* Keyword */
body .o {
    color: #666666
}

/* Operator */
body .ch {
    color: #408080;
    font-style: italic
}

/* Comment.Hashbang */
body .cm {
    color: #408080;
    font-style: italic
}

/* Comment.Multiline */
body .cp {
    color: #BC7A00
}

/* Comment.Preproc */
body .cpf {
    color: #408080;
    font-style: italic
}

/* Comment.PreprocFile */
body .c1 {
    color: #408080;
    font-style: italic
}

/* Comment.Single */
body .cs {
    color: #408080;
    font-style: italic
}

/* Comment.Special */
body .gd {
    color: #A00000
}

/* Generic.Deleted */
body .ge {
    font-style: italic
}

/* Generic.Emph */
body .gr {
    color: #FF0000
}

/* Generic.Error */
body .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Heading */
body .gi {
    color: #00A000
}

/* Generic.Inserted */
body .go {
    color: #888888
}

/* Generic.Output */
body .gp {
    color: #000080;
    font-weight: bold
}

/* Generic.Prompt */
body .gs {
    font-weight: bold
}

/* Generic.Strong */
body .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Subheading */
body .gt {
    color: #0044DD
}

/* Generic.Traceback */
body .kc {
    color: #008000;
    font-weight: bold
}

/* Keyword.Constant */
body .kd {
    color: #008000;
    font-weight: bold
}

/* Keyword.Declaration */
body .kn {
    color: #008000;
    font-weight: bold
}

/* Keyword.Namespace */
body .kp {
    color: #008000
}

/* Keyword.Pseudo */
body .kr {
    color: #008000;
    font-weight: bold
}

/* Keyword.Reserved */
body .kt {
    color: #B00040
}

/* Keyword.Type */
body .m {
    color: #666666
}

/* Literal.Number */
body .s {
    color: #BA2121
}

/* Literal.String */
body .na {
    color: #7D9029
}

/* Name.Attribute */
body .nb {
    color: #008000
}

/* Name.Builtin */
body .nc {
    color: #0000FF;
    font-weight: bold
}

/* Name.Class */
body .no {
    color: #880000
}

/* Name.Constant */
body .nd {
    color: #AA22FF
}

/* Name.Decorator */
body .ni {
    color: #999999;
    font-weight: bold
}

/* Name.Entity */
body .ne {
    color: #D2413A;
    font-weight: bold
}

/* Name.Exception */
body .nf {
    color: #0000FF
}

/* Name.Function */
body .nl {
    color: #A0A000
}

/* Name.Label */
body .nn {
    color: #0000FF;
    font-weight: bold
}

/* Name.Namespace */
body .nt {
    color: #008000;
    font-weight: bold
}

/* Name.Tag */
body .nv {
    color: #19177C
}

/* Name.Variable */
body .ow {
    color: #AA22FF;
    font-weight: bold
}

/* Operator.Word */
body .w {
    color: #bbbbbb
}

/* Text.Whitespace */
body .mb {
    color: #666666
}

/* Literal.Number.Bin */
body .mf {
    color: #666666
}

/* Literal.Number.Float */
body .mh {
    color: #666666
}

/* Literal.Number.Hex */
body .mi {
    color: #666666
}

/* Literal.Number.Integer */
body .mo {
    color: #666666
}

/* Literal.Number.Oct */
body .sa {
    color: #BA2121
}

/* Literal.String.Affix */
body .sb {
    color: #BA2121
}

/* Literal.String.Backtick */
body .sc {
    color: #BA2121
}

/* Literal.String.Char */
body .dl {
    color: #BA2121
}

/* Literal.String.Delimiter */
body .sd {
    color: #BA2121;
    font-style: italic
}

/* Literal.String.Doc */
body .s2 {
    color: #BA2121
}

/* Literal.String.Double */
body .se {
    color: #BB6622;
    font-weight: bold
}

/* Literal.String.Escape */
body .sh {
    color: #BA2121
}

/* Literal.String.Heredoc */
body .si {
    color: #BB6688;
    font-weight: bold
}

/* Literal.String.Interpol */
body .sx {
    color: #008000
}

/* Literal.String.Other */
body .sr {
    color: #BB6688
}

/* Literal.String.Regex */
body .s1 {
    color: #BA2121
}

/* Literal.String.Single */
body .ss {
    color: #19177C
}

/* Literal.String.Symbol */
body .bp {
    color: #008000
}

/* Name.Builtin.Pseudo */
body .fm {
    color: #0000FF
}

/* Name.Function.Magic */
body .vc {
    color: #19177C
}

/* Name.Variable.Class */
body .vg {
    color: #19177C
}

/* Name.Variable.Global */
body .vi {
    color: #19177C
}

/* Name.Variable.Instance */
body .vm {
    color: #19177C
}

/* Name.Variable.Magic */
body .il {
    color: #666666
}

/* Literal.Number.Integer.Long */